/* audioComponent.module.css */

.title {
    font-family: 'Inter', sans-serif;
    font-weight: 500;  /* font-medium */
    font-size: 1.875rem; /* sm:text-3xl */
    margin-bottom: 1rem; /* mb-4 */
    color: #f6e05e; /* text-yellow-300 */
    text-align: center;
  }
  
  @media (min-width: 640px) {
    .title {
      font-size: 2.25rem; /* sm:text-4xl */
      text-align: center;
    }
  }
  
  .break {
    display: none;
  }
  
  @media (min-width: 1024px) {
    .break {
      display: inline-block; /* lg:inline-block */
    }
  }
  